@import "../reference/variables";
@import "compass/css3";

#entry-fields {
  display: inline-block;
  width: 58%;
  vertical-align: top;

  p {
    padding-bottom: 1em;
  }
}

#consult-note {

  #display-diagnoses {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    font-size: 0.9em;
    h3 {
      border-bottom: 1px solid #CCC;
      padding-bottom: 5px;
    }
    li {
      margin-bottom: 10px;
      .diagnosis {
        display: inline-block;
        background: lighten($text, 10%);
        padding: 5px 10px;
        width: 89.5%;
        color: white;
        @include border-radius(5px);
      }
      i {
        display: inline;
      }
    }
  }
}
#buttons {
  margin-top: 1em;
}

.matched-name {
  display: block;
  font-size: 1em;
}
.preferred-name {
  margin-top: 5px;
  display: block;
  font-family: $primaryLightFont;
  small {
    font-size: 1em;
    color: $darkerGrey;
  }
}

.code {
  float: right;
  font-family: $primaryLightFont;
  font-size: 0.9em;
}

.ui-menu .ui-menu-item {
  border-bottom: 1px gray solid;
}
